@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
        color: #354F52;
    background-color: #E9EDC9;
    height: 100vh;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  a:hover{
    /* background-color: #A4C3B2; */
    text-decoration: underline;
    text-decoration-color: #A4C3B2;
  }

.container {
    display: flex;
    gap: 10px;
    overflow: auto;
    width: 95%;
}

.container img {
    max-height: 40rem;
    background-color: white;
    padding: 3rem;
    /* height: auto; */
}

.flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 5rem;
}


/* BIO */

.bio-container{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}

.bio-container img{
    max-height: 10rem;
}


/* PRODUCTION */




.production-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.production-container p{
    text-align: center;

line-height: 2rem;
font-size: 95%;
}

.production-container h3{
    text-align: center;
    text-decoration: underline;

}

.production-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Media Query for Phones (up to 767px) */
@media only screen and (max-width: 767px) {
    /* Add your phone-specific CSS styles here */


    .container img {
        max-height: 16rem;
        background-color: white;
        padding: 1rem;
        /* height: auto; */
    }

}

/* Media Query for Tablets (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Add your tablet-specific CSS styles here */

    .container img {
        max-height: 15rem;
        background-color: white;
        padding: 2rem;
        /* height: auto; */
    }
 
}

/* Media Query for iPad Air in Landscape Mode (1024px to 1365px) */
@media only screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {
    /* Add your CSS styles for iPad Air in landscape mode here */
    .container img {
        max-height: 27rem;
        background-color: white;
        padding: 2rem;
        /* height: auto; */
    }
}



