@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap');

#splash-body {
 
    font-family: 'Roboto Slab', sans-serif;
    color: #354F52;
    background-color: #E9EDC9;
    





    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url('/assets/super8/Morocco-S8.gif') center center/cover no-repeat;

}


#splash-logo{
    max-height: 3rem;
}







/* DROP DOWN */

/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the button that opens the dropdown */
.dropdown-button {
    color: #354F52;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #354F52;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: #A4C3B2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of links on hover */
.dropdown-content a:hover {
    /* background-color: #ddd; */
}

/* Show the dropdown content when hovering over the button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* SPLASH */





/* .splash-body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #d5e4b2;
    display: flex;
    justify-content: space-around;

} */











.splash-flex {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    justify-content: center;
    

}

.splash-flex h1{
    margin-right: 5rem;
}




.photo-prod-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.splash-flex p {
    margin: 1rem;

}

.photo-prod-flex a {
    text-decoration: inherit;
    text-align: center;

}

.photo-prod-flex a:hover {
    text-decoration: underline;
    text-decoration-color: #A4C3B2;


}



/* OVERVIEW */

.link-container {
    margin-top: 1rem;
    margin-left: 1rem;
}


.link-container > * {
    padding: 2rem;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #A4C3B2;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    /* width: 95%; */
}

.container img {
    max-width: 30rem;
    /* max-height: 40rem; */
    background-color: white;
    padding: 3rem;
    /* height: auto; */
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 5rem;
}

.back {
    font-size: 3rem;
    padding: 1rem;
}


/* BIO */
.bio-wrapper {
    display: flex;
    justify-content: center;
}

.bio-container {
    width: 75%;
    display: flex;
    align-items: flex-start;
    margin-top: 3rem;
    background-color: #FEFAE0;
    padding: 2rem;



}

.bio-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;

}


.bio-details p {
    font-size: 80%;
    text-align: justify;
    line-height: 170%;


}

#jess {
    max-height: 25rem;
    margin-right: 1rem;

}

#logo {
    max-height: 2.5rem;

}


/* PRODUCTION */

.production-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}



.production-container p {

    font-family: 'Roboto Slab', sans-serif;


    font-size: 80%;
    text-align: center;
    line-height: 300%;
}


.production-container img{
    max-height: 8rem;
}

.production-container h3 {
    font-family: 'Roboto Slab', sans-serif;
  
    text-align: center;
}

.production-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}


.portrait {
    max-height: 500rem;
}

/* carousel */

.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s;
}

.carousel-slide {
    flex: 0 0 25%; /* Display 4 slides at a time; adjust for 3 slides */
}

.carousel img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}












/* Media Query for Phones in Portrait */
@media only screen and (max-width: 500px) {

    /* Image containers */
    .container img {
        max-width: 17rem;
        background-color: white;
        padding: 1rem;
    }

    /* BIO */
    .bio-container {
        display: flex;
        flex-direction: row;
        width: 70%;
        align-items: center;
        margin-top: 3rem;
        padding: 2rem;
        /* box-shadow: inset 0 0 10px #bdb9a2; */



    }

    .bio-details p {
        font-size: 81%;
        text-align: justify;


    }

    #jess {
        display: none;


    }

    /* PRODUCTION */

    .production-wrapper {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .production-container h3 {
        font-size: 95%;
        text-align: center;
        text-decoration: underline;

    }


    .production-container p {
        font-size: 75%;
        text-align: center;
        line-height: 280%;

    }

    .production-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .5rem;


    }

}










/* Media Query for Tablets (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Add your tablet-specific CSS styles here */

    .container img {
        max-width: 25rem;
        background-color: white;
        padding: 2rem;
        /* height: auto; */
    }

    .bio-details p {
        font-size: 60%;

        text-align: justify;


    }

    #jess {
        padding: 1rem;
        max-height: 11rem;

    }

    #logo {
        max-height: 2.5rem;

    }




}

/* Media Query for iPad Air in Landscape Mode (1024px to 1365px) */
@media only screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {

    /* Add your CSS styles for iPad Air in landscape mode here */
    .container img {
        max-width: 27rem;
        background-color: white;
        padding: 2rem;
        /* height: auto; */
    }
}