body {
    font-family: Arial, sans-serif;
    background-color: #E9EDC9;
}

.container {
    display: flex;
    gap: 10px;
    overflow: auto;
    width: 95%;
}

img {
    max-height: 40rem;
    /* height: auto; */
}

.flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 5rem;

}
